<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tutorials_CoreMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Tutorials_CoreMVC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <div class ="row">
        <div class="col-md-2 bg-info">     
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Alert">Alert</a>
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Link">Link</a>
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Button">Button</a>
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DropDown">DropDown</a>
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DropDown2">DropDown2</a>
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Form1">Form1</a>
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Form2">Form2</a>
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Form3">Form3</a>
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Spacing">Spacing</a>
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Form1">Form6</a>
        </div>
         <div class="col-md-10">
           <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>
        </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Tutorials_CoreMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
